<body>
    <div class="page-header m-5">
        <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Manage Orders</h1>
    </div>
    <div class="container mt-5 bg-dark-subtle">
        <table class="table text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Count</th>
                    <th scope="col">ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Total</th>
                    <th scope="col">View Order Items</th>
                    <th scope="col">Delete</th>
                </tr>
                <tr *ngFor="let order of orderList; index as i">
                    <td>{{i+1}}</td>
                    <td>{{order.id}}</td>
                    <td>{{order.customerName}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order.totalAmount}}</td>
                    <td><button class="btn btn-primary" data-bs-toggle="modal" (click)="viewOrderItems(order)"
                            data-bs-target="#viewModal"><i class="bi bi-view-list"></i></button></td>

                    <td><button class="btn btn-danger" (click)="deleteOderById(order.prId)"><i
                                class="bi bi-trash-fill"></i></button></td>

                </tr>
            </thead>
        </table>
    </div>

    <!--View Order Items-->
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Order Items</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                        </tr>
                        <tr *ngFor="let item of selectedOrder.items">
                            <td>{{item.id}}</td>
                            <td>{{item.productName}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.price}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>