<body>
    <div class="container col-md-12 col-lg-4 mt-5">

        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="mt-2">
            <a href="#" tabindex="-1" aria-disabled="true">Forgot password?</a>
        </div>
        <div class="form-check text-start my-3 mt-5">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
        <div class="text-center mt-3">
            <a href="#" routerLink="/register" tabindex="-1" aria-disabled="true" class="align-items-center">Don't have an account?
                Register</a>
        </div>
        <p class="mt-5 mb-3 text-body-secondary">&copy; Mygaraj.lk</p>
    </div>
</body>